body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #222;
}

/* NAVBAR */
nav {
    background: #0f172a;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* HERO */
#hero {
    background: #1e293b;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

#hero h1 {
    font-size: 2.5em;
}

#hero p {
    font-size: 1.2em;
    opacity: 0.8;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.project {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

/* LISTES */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: white;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
    color: white;
}

/* RESPONSIVE (mobile) */
@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}
.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid white;
}
